<div class="container">
    <div class="title"> RIQUELME & MORTICIO </div>
    <br><br>
    <div class="division">
        <div *ngFor="let personaje of personajes">
            <!-- <p>{{personaje}}</p> -->
            <img src={{personaje.image}}>
            <p>Nombre: {{personaje.name}}</p>
            <p>Estatus: {{personaje.status}}</p>
            <p>Genero: {{personaje.type}}</p>
            <p>Especie: {{personaje.species}}</p>
            <br><br>
        </div>
    </div>
</div>