.container {
    border: 6rem;
    color: blue;
    width: auto;
}

.title {
    font-family: cursive;
    font-size: 4rem;
    color: rgb(78, 151, 127);
    text-align: center;
}

.division {
    column-count:4;
    column-gap:20px;
    text-align: center;
    /* column-rule:4px dotted gray; */
}

p{
    font-family: cursive;
    font-size: 20px;
    color: rgb(107, 178, 69);
}